.main-container {
    width: 100%;
    min-height: 100%;

    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.single-item-container {
    width: 100%;
}

.disabled {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    border: 1px solid rgb(47, 137, 255);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header {
    font-weight: bold;
}

.row > *:first-child {
    margin-right: auto;
}

.row > #category,
.row > #amount,
.row > #weight {
    text-align: right;
    min-width: 6em;
}

.row > .controls {
    width: 1.8rem;
}

.row > button {
    background-color: rgba(0, 0, 0, .03);
    border: none;
    cursor: pointer;
}

.row > #delete {
    color: red;
}

.row > #info {
    color: rgb(47, 137, 255);
}

.row:not(:first-child) {
    border-top: none;
}

.row:first-child {
    background-color: rgba(47, 137, 255, .2);
}